<div class="banner">
	<div>
		<img id="bannerImage" data-lfr-editable-id="bannerImage"
			data-lfr-editable-type="image">
		<div id="bannerText" class="ml-5">
			<h1 class="bannerHeading lh-lg" data-lfr-editable-id="banner-heading"
				data-lfr-editable-type="text">Ignek Intranet</h1>
			[#if configuration.hideDescription]
			<p class="text-decoration-underline bannerDescription"
				data-lfr-editable-id="banner-description"
				data-lfr-editable-type="text">Let's grow together</p>
			[/#if]
		</div>
	</div>
	<div>
		<lfr-drop-zone></lfr-drop-zone>
	</div>
</div>