.addEmpButton {
	float: right;
	background-color: #00979E;
	color: white;
	padding: 9px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 20px;
	font-size: 13px;
	margin-top: 5px;
}

input::placeholder {
	font-family: Poppins;
	font-weight: 400;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #26262680;
}

.addEmpButton:hover {
	color: white;
}

.addEmpDiv {
	font-family: Poppins;
	height: 60px;
	margin-bottom: 10px;
	border-bottom: 1px lightgrey solid;
}

.employeeForm {
	font-family: Poppins;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
}

.reference-mark {
	display: none;
}

.submitButton {
	float: right;
	background-color: #00979E;
	color: white;
	border-radius: 4px;
}

.btn-primary {
	background-color: #00979E;
	border-color: #00979E;
	padding: 5px;
	padding-left: 70px;
	padding-right: 70px;
}

.form-control {
	height: 45px;
}

.control-label {
	font-family: Poppins;
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	padding-bottom: 8px;
}

.pagination-bar {
	display: flex;
	justify-content: end;
}

.pagination-items-per-page {
	display: none;
}

.pagination-results {
	display: none;
}

.table-list {
	border: none;
}

tr {
	display: block;
	line-break: anywhere;
	font-family: Poppins;
	font-weight: 400;
	font-size: 14px;
}

.table th {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	color: #ACACAC;
	align-content: center;
	padding: 0px;
	text-align: left;
}

lfr-search-container-wrapper a:not(.component-action):not(.btn) {
	color: #898989;
	font-weight: 500;
	text-decoration: none;
}

.page-item {
	margin-left: 4px;
	margin-right: 4px;
}

.table td:first-child,
.table .table-column-start {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.table td:last-child,
.table .table-column-start {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.table tbody tr {
	margin-bottom: 10px;
}

.page-link {
	border-radius: 50%;
}

.page-item:last-child .page-link,
.page-link-last,
.page-item:first-child .page-link {
	border-radius: 50%;
}

.table-list.table-striped tbody tr:nth-of-type(odd) td,
.table-list.table-striped tbody tr:nth-of-type(odd) th {
	background-color: white;
}

.table-list.table-striped tbody tr:nth-of-type(even) td,
.table-list.table-striped tbody tr:nth-of-type(even) th {
	background-color: white;
}

.table-heading-nowrap thead td,
.table-heading-nowrap thead th {
	background-color: #f7f7f7;
}

.table-list tbody,
.container-view {
	background-color: #f7f7f7;
	padding: 0px;
}

.portlet-decorate .portlet-content {
	background-color: #f7f7f7;
}

.table th:last-child {
	padding-left: 10px;
}

.page-link {
	color: #898989;
}

.page-item.active .page-link {
	border-color: #898989;
	background-color: #898989;
	color: #FFFFFF;
}

.lfr-search-container-wrapper a:not(.component-action):not(.btn) {
	text-decoration: none;
	background-color: transparent;
}

.table th:nth-child(5),
.table td:nth-child(5),
.table .table-column-start {
	width: 1.5%;
}

.lfr-portal-tooltip {
	padding-left: 10px;
}

.page-item.disabled .page-link {
	background-color: transparent;
	color: #89898989;
}



.employeeList {
	background-color: #f7f7f7;
	padding-left: 20px;
	padding-right: 20px;
}

.empFormDiv {
	width: 1000px;
	justify-self: center;
}

.addEmployeePage {
	border-radius: 15px;
	padding-top: 40px;
	padding-bottom: 20px;
}

.updateEmployeePage {
	border-radius: 15px;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 200px;
}

.employeeText {
	font-family: Poppins;
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	padding-top: 15px;
}